

<li class="index-author">{{question.author}} asks:</li>
<li class="index-question">{{#link-to 'question-display' question.id}}{{question.query}}{{/link-to}}<span class="edit-form">{{question-edit question=question update="update"}}</span></li>
