<div class="container">
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand banner-name">Questions &amp; Answers Message Fourm</a>
          <a class="navbar-brand home-button" href="/"><span class="glyphicon glyphicon-home"></span></a>
        </div>
      </div>
    </nav>
  </header>
  {{outlet}}
</div>
